.aboutpage {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--brandcolor);
}

.about-container {
    padding-block: 50px;
    display: flex;
    flex-direction: column;
    padding-left: 85px;
    width: 40%;
}

.about-container h1 {
    margin: 0;
    color: white;
    font-family: "Inter";
    font-size: 2.3rem;
    font-weight: 600;
}

.about-container p {
    color: #C0BBFF;
    font-size: 1.1rem;
    font-family: "Inter";
    font-weight: 300;
}

.aboutpage img {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    margin-top: -50px;
    margin-bottom: 50px;
    margin-right: 100px;
    height: 400px;
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
    -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 80%, rgba(0,0,0,0) 100%);
}

@media only screen and (max-width: 900px)
{
    .aboutpage {
        flex-direction: column;
    }

    .about-container {
        align-items: center;
        padding-block: 70px;
        padding-left: 0;
        width: 80%;
    }

    .about-container h1 {
        text-align: center;
        font-size: 2.1rem;
    }

    .about-container p {
        text-align: center;
        font-size: 0.9rem;
    }

    .aboutpage img {
        margin-right: 0;
        height: 300px;
    }
}